/* 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* 페이지 설정 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

/* 입력 필드 */
input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 2px solid #9094A6;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  outline: none;
  box-sizing: border-box;
}

.helper-text {
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  text-align: left; /* 왼쪽 정렬 */
  width: 100%;
}

/* 버튼들 */
.buttons {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  width: 100%;
  max-width: 300px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ACA0EB; /* 초기 색상 */
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons .button:hover {
  background-color: #7F6AEE; /* 호버 색상 */
}

.profile {
  width: 200%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid #9094A6; /* 테두리 색상 */
  border-radius: 20px; /* 둥근 테두리 */
  background-color: #ffffff; /* 배경색 */
  box-sizing: border-box;
}
/* modal.css */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-cancel {
  background-color: #333;
  color: white;
}

.hidden {
  display: none;
}

.modal:not(.hidden) {
  display: flex;
}