@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* 페이지 설정 */
body {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* 폼 필드 정렬 */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

form input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form .description {
  align-self: flex-start;
  margin-left: 10%;
  font-weight: 500;
  font-size: 14px;
  color: #555;
}

/* 버튼 스타일 */
form .button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  background-color: #C9ADD4;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

form .button:hover {
  background-color: #b396c1;
}

/* 드롭다운 컨테이너 */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 10px; /* 화면 상단에서 10px 아래 */
  right: 20px; /* 화면 오른쪽에서 20px 왼쪽 */
}

/* 드롭다운 버튼 스타일 */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 50px; /* 버튼 너비 */
  height: 50px; /* 버튼 높이 */
  border-radius: 50%; /* 버튼을 원 모양으로 만듦 */
  display: flex; /* 아이콘 정렬을 위해 flexbox 사용 */
  justify-content: center; /* 아이콘 수평 중앙 정렬 */
  align-items: center; /* 아이콘 수직 중앙 정렬 */
}

/* 드롭다운 메뉴 기본 상태: 숨김 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  right: 0; /* 부모 컨테이너의 오른쪽에 정렬 */
}

/* 드롭다운 메뉴 아이템 */
.dropdown-content .menu {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

/* 드롭다운 메뉴 아이템 hover 시 스타일 */
.dropdown-content .menu:hover {
  background-color: #f1f1f1;
}

/* 버튼 위에 마우스를 올릴 때 드롭다운 메뉴 표시 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 버튼 hover 스타일 */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}